/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/local_docs/
/experiments/
/.idea/
/.vscode/
/experiment_*/
/exp*/
/Mnesia.nonode@nohost/
/priv/lib/
/priv/plts/
/tmp/
/temp/
/temperature/
/results/
/saved_data/
/pressure/
/humidity/
/child/child/
/data/
